---
import { MagicCard } from "../react/magic-card.tsx";
import CodeBlockIcon from "../icons/code-block-icon.tsx";
import { motion } from "motion/react";
import { Marquee } from "../react/marquee";

const frontendTech = ["NextJS", "React", "Astro", "Typescript", "Tailwind"];
const backendTech = ["Laravel", "Livewire", "Docker"];
const otherTech = ["Android Studio", "Langchain"];
---

<motion.div
  animate={{ opacity: 1, x: 0 }}
  initial={{ opacity: 0, x: -20 }}
  transition={{ duration: 0.5 }}
  className="w-full h-full"
  client:load
>
  <MagicCard className="w-full h-full" client:load>
    <div class="p-4">
      <h2
        id="technologies-title"
        class="flex text-base md:text-lg font-bold items-center gap-1 tracking-wide mb-2"
        aria-label="Technology Stack"
      >
        <CodeBlockIcon aria-hidden="true" />
        Tech Stack
      </h2>
      <div class="flex flex-col gap-4 text-xs font-medium">
        <div class="space-y-1">
          <p class="text-sm font-semibold text-gray-600">Frontend</p>
          <Marquee className="py-1" pauseOnHover client:load>
            {frontendTech.map((tech) => (
              <p
                class="mx-2 px-4 text-center border rounded-full border-gray-300 p-1.5 bg-white hover:scale-105 transition-transform"
                aria-label={tech}
                role="presentation"
              >
                {tech}
              </p>
            ))}
          </Marquee>
        </div>

        <div class="space-y-1">
          <p class="text-sm font-semibold text-gray-600">Backend</p>
          <Marquee className="py-1" pauseOnHover reverse client:load>
            {backendTech.map((tech) => (
              <p
                class="mx-2 px-4 text-center border rounded-full border-gray-300 p-1.5 bg-white hover:scale-105 transition-transform"
                aria-label={tech}
                role="presentation"
              >
                {tech}
              </p>
            ))}
          </Marquee>
        </div>

        <div class="space-y-1">
          <p class="text-sm font-semibold text-gray-600">Other</p>
          <Marquee className="py-1" pauseOnHover client:load>
            {otherTech.map((tech) => (
              <p
                class="mx-2 px-4 text-center border rounded-full border-gray-300 p-1.5 bg-white hover:scale-105 transition-transform"
                aria-label={tech}
                role="presentation"
              >
                {tech}
              </p>
            ))}
          </Marquee>
        </div>
      </div>
    </div>
  </MagicCard>
</motion.div>
